body {
    text-align: center;
    font-family: 'Fuzzy Bubbles', cursive;
    padding: 15px;
    height: 100vh;
    margin: 0;
    background: linear-gradient(#bdc3c7,#2c3e50);
}
h1 {
    margin-top: 35px;
    font-size: 40px;
    color: blue;
    font-weight: 700;
    margin-bottom: 10px;
}
button {
    padding: 15px;
}
#startGame {
    font-size: 25px;
    border: 2px solid blue;
    border-radius: 10px;
    background-color: blue;
    color: white;
    margin-bottom: 10px;
}
.scores-div {
    font-size: 25px;
    margin-bottom: 10px;
}
.grid {
    border: 2px solid black;
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 10px;
}
.grid-item {
    width: 20px;
    height: 20px;
}
.snake {
    background-color: darkgreen;
    border-radius: 30%;
}
.snake-head {
    background-color: darkgreen;
}
.apple {
    background-color: red;
    border-radius: 50%;
}

.btn-container button {
    padding: 15px;
    margin-right: 10px;
    width: 50px;
    margin: 0 auto;
}
.btn-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    max-width:200px;
    margin:  0 auto;
    padding: 20px;
}
.button {
    margin: 0 auto;
}
#move-right {
    margin-left: 50px;
} 
#game-over {
    display: flex;
    height:  200px;
    width: 200px;
    font-size: 50px;
    align-items: center;
    margin: 0 auto;
    display: none;
}
